/*RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET END*/

body {
	font-family: 'Arial', 'sans-serif';
	background: linear-gradient(to bottom, #edf1f1, #ffffff) no-repeat;
}

@font-face {
	font-family:'AFKlampenborg';
	src: url('../fonts/AFKlampenborg.otf');
}

@font-face {
	font-family:'Helios';
	src: url('../fonts/heliosextthinc.otf');
}

.containar {
	width: 790px;
	margin: 0 auto;
}

/*HEADER*/
.header-logo {
	overflow: hidden;
}

.image-logo {
	margin: 29px 0;
	width: 350px;
	float:left;

}

header {
	border-bottom: 1px solid #939598;
}

.image-position {
	float: left;

}

.text-logo{
	font-weight: 500;
    font-size: 22px;
    font-family: 'AFKlampenborg';
    color: #929497;
    position: relative;
    top: 26px;
    right: 5px;
    z-index: -1;
    line-height: 0.9;
}

 h1 {
	text-align: center;
	margin-top: 60px;
	font-weight: bold;
	font-size: 15px;
	color: #646464;
	font-family: 'Helios';
}
/*END HEADER*/

/*ASIDE*/
.sidebar {
	float: left;
	width: 250px;
}

.category-title {
	color: #03a7fe;
	font-size: 16px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}

.category-title:after {
	content:"";
	border: 6px solid transparent;
	border-top: 9px solid #03a7fe;
	position: relative;
	left: 10px;
    bottom: -15px;
}

.categories a {
	text-decoration: none;
	color: #555555;
	text-shadow: 0.5px 0.5px #a4a4a4;
}

.categories li {
	padding-top: 20px;
	border-bottom: 1px solid #c9c8c7;
	padding-bottom: 10px;
    padding-top: 10px;

}

.categories li:before {
	content:"";
	display: block;
	background: url(../image/arrow.png) no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 6px 0 0;
}

.categories li:last-child {
	padding-bottom: 60px;
} 

.logo-companies {
	margin-top: 16px;
    margin-left: 70px;   
}

.logo-companies > img {
	margin-bottom: 20px;
}

.logo-companies-one {
	border: 2px solid #ffa524;
	height: 20px;
	width: 80px;
	padding: 4px 10px 4px 10px;
	border-radius: 50px 50px;
	font-family: 'AFKlampenborg';
	font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: #939598;
}

.rss-logo {
	float: left;
	padding-left: 10px;
}

.rss-wrapper {
	border-bottom: 1px solid #c9c8c7;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 80px;

}

.logo-companies .artcofte {
	margin-left: 15px;
}






/*END ASIDE*/

/*TABS*/
#tab {
	width: 540px;
	float: right;
}

#tab >input {
	display: none;
}

#tab >label {
	cursor: pointer;
	display: block;
	float: left;
	padding: 16px 27px;
	background: linear-gradient(to top, #dbdad8, #e4e7e7, #e5eaeb) no-repeat;
	border: 1px solid #939598;
	font-size: 14px;
	color: #939598;
	width: 90px;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
}


#table {
	clear: both;
}

#table > div {
	position: absolute;
	width: 528px;
	padding: 15px;
	overflow: hidden;
	height: 200px;
	opacity: 0;
}

#tab-1:checked ~ #table > div:nth-of-type(1),
#tab-2:checked ~ #table > div:nth-of-type(2),
#tab-3:checked ~ #table > div:nth-of-type(3) {
	opacity: 1;
}

#tab input:checked + label {
	background: linear-gradient(to bottom, #ffffff, #fbfcfc,#eaeeee) no-repeat;
	color: #56bcfb;
}

section {
	margin-top: -48px;
}

.label-one {
	margin-right: 40px;
}

#tab label[for="tab-1"] {
	margin-left: 60px;
}
/*END TABS*/